.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #87b5b5;
  min-height: 100vh;
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin-top: 2rem;
}

.editor h3 {
  margin: 0;
  /* padding: 0; */
  background-color: #4aa3a3;
  width: 100%;
  /* text-align: center; */
  /* padding: 0 0 0 10px; */
  border: 1px solid #000;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;

}

#editor {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  padding: 0;
  border: 1px solid #000;
  background-color: #c0d8d8;
}

.preview {
  margin: 2rem 0;
  border: 1px solid black;
}

.preview h3 {
  background-color: #4aa3a3;
}

#preview {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c0d8d8;
}

#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}